/* Global */
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

}


/* Typography */

h1{
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 15px;
    color: #242f51;

}
h2{
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 10px;
    color: #242f51;
}

h3{
    font-size: 40px;
    line-height: 58px;
    margin-bottom: 20px;
    color: #242f51;
}


h4{
    font-size: 20px;
    line-height: 58px;
    margin-bottom: 10px;
    color: #242f51;

}
p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
    color: #616368;
}
/*  End Typography */

/* Header */
header{
     padding: 0PX 200px;
     background: white;
}

.navbar{
    padding: 10px;
}

.navbar-nav .nav-link{
      padding: 10px 20px !important;
}

/* banner */
.border{
   width: 50%;
   padding: 4px;
   background-color: #e2eaed;
   border-radius: 30px
}

.content {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: 0px 330px;
    display: flex;
    align-items: center;
    padding: 20px 200px;
    box-sizing: border-box;
    
}
.Box-right{
    /* background-position: 0px 330px; */
    padding-right: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    box-sizing: border-box;

}

.content div{
    width: 50%;
}

.Box-right{
    display: flex;
    padding: 15px 190px;
}

.btn btn-primary{
    border-radius: 20px;
}
/* end banner */


.line{
    padding-top: 70px;
}

.img1{
   margin: 30px;
   padding-left: 200px;
   float: left;
}

.heading{
    padding-top: 150px;
    padding-right: 30px;
    width: 600px;
    float: right;
}

.ceo{
    margin-right: 350px;
    margin-left: 300px;
}

.ceotext{
    margin-top: 20px;
    padding-right: 300px;
    float: right;
}

.panel-group{
    padding:  0PX 110PX;
    width: 100%;
}

.panel-title{
    padding: 0px;
}

/* footer */


.inner-footer{
    margin: 0;
    padding: 0;
    background-color: #09142e;
}
.quick-links{
    display: flex;
}
.quick-links ul{
    padding: 10px;
    display: flex;
    height: 50px;
    margin: auto;
}
.quick-items{
    list-style: none;
}
.quick-items a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    transition: all .25s;
}

.quick-items a:hover{
    color: blue;
}

.social-links{
    display: flex;
    width: 500px;
    height: 70px;
    margin-left: 40%;
}


.social-links ul{
    display: flex;
}


.social-items{
    list-style: none;
}
.social-items a{
    padding: 0 10px;
    font-size: 25px;
    color: #273043;
}
.social-items a:hover{
    color: blue;
}

.outer-footer{
padding: 100px;
text-align: center;
color: #273043;
font-size: 14px;
background-color: #09142e;
}